.event-container{
    display:flex;
    flex-direction: column;
    min-width: 800px;
    align-items:center;
}

.event-display{
    display: flex;
    align-items:center;
    flex-direction: column;
    min-width: 80%;
    min-height: 400px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-display:hover{
    background-color: lightgray;
}

.event-title{
    width:80%;
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-container{
    display:flex;
    flex-direction: row;
    width:80%;
    justify-content: space-around;
}

.event-photo{
    width:50%;
}

.event-main-info{
    width:20%;
}

.event-lower-info{
    display: flex;
    
}

.checkbox:checked{
    color:red;
}