.event-container{
    display:flex;
    flex-direction: column;
    min-width: 800px;
    align-items:center;
}

.event-display{
    display: flex;
    align-items:center;
    min-width: 80%;
    min-height: 400px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-display:hover{
    background-color: lightgray;
}

.event-title{
    width:80%;
    padding:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

.row-container{
    display:flex;
    flex-direction: row;
    width:80%;
    justify-content: space-around;
}

.column-container{
    display: flex;
    flex-direction: column;
    width:90%;
}

.event-photo{
    width:50%;
}

.event-main-info{
    width:20%;
}

.event-lower-info{
    display: flex;
    
}

.checkbox:checked{
    color:red;
}


a{
    text-decoration: none;
}

a:focus, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/* EVENT DETAILS CSS */

.event-details-container{
    display:flex;
    flex-direction: column;
}

.event-nav-details{
    display:flex;
    justify-content: space-around;
}

/* EVENT FILTER CSS */

.event-filter-container{
    display:flex;
    width:80%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
}

.button-container{
    display:flex;
    flex-direction: row;
    width:80%;
    flex-direction: row-reverse;
}

.filter-button{
    display:flex;
    margin:5px;
}

/* EVENT ROW CSS */

.event-row-container{
    display: flex;
    min-width: 400px;
    max-width: 35%;
}

.event-row-column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.event-row-date{
    font-weight: 500;
}
.event-row-row-container{
    flex-direction: row;
    flex-wrap: wrap;
}
.event-row-info{
    width:100%;
    text-align: center;
}